<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewpoint" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 		<!-- Add icon library -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<title>GradeBook</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand p-3" href="http://pproject.pythonanywhere.com/mainpage/"> MyGradebook</a>
                 </div>

				<div class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:Snow;" id="navbardrop" data-toggle="dropdown" aria-expanded="true"> Classes </a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#"> Class 1</a>
								<a class="dropdown-item" href="#"> Class 2</a>
								<a class="dropdown-item" href="#"> Class 3</a>
							</div>
					</li>
				</div>
				<div>
					<ul class="navbar-nav navbar-right">
						<li class="nav-item active">
                            {% if current_user.is_authenticated %}
                                <li><a href="{{ url_for('logout') }}">Log out</a></li>
                            {% else %}
                                <li><a href="{{ url_for('login') }}">Log in</a></li>
                            {% endif %}
                        </li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid"  style="padding-top: 100px">
			<table class="table table-bordered table-sm">
				<thead>
					<tr class="table-active">
						<th scope="col"> Assignment ID </th>
						<th scope="col"> Assignment Name</th>
						<th scope="col"> Total Points </th>
					</tr>
				</thead>
				<tbody>
				    {% for assignments in assignment %}
				    <tr>
				        <td> {{ assignments.id }}</td>
				        <td> {{ assignments.assignment_name}} </td>
				        <td> {{ assignments.total_points }} </td>
				    </tr>
				    {% endfor %}
				</tbody>
			</table>
		</div>

		<div class="container-fluid" style="padding-top: 100px">
		    <div class=row>
		        <div class= "col-md">
			        <h5>Please fill out form to add assignment</h5>
			            <form action="." method="POST">
   				            <div class="form-group m-3 w-50">
      				            <input type="text" class="form-control" id="assignment_name" placeholder="Enter Assignment Name" name="assignment_name">
      			            </div>

    			            <div class="form-group m-3 w-50">
     			        	<input type="text" class="form-control" id="total_points" placeholder="Enter Total Points" name="total_points">
     	            		</div>

     			            <button type="submit" class="btn btn-success btn-lg ">Add Assignment</button>
     	            	</form>
                </div>

                <div class="col-md">
                    <h5> Delete Assignment </h5>
                        <form class="form-inline" action='/mainpage/assignment_delete' method="POST">
                            <input type="int" class="form-control mb-2 mr-sm-2" id="assignment_id" placeholder="Enter Assignment Id" name="assignment_id">
		                    <button type="submit" class="btn btn-danger ">Delete</button>
		                </form>
		        <div>
		</div>
	</body>
</html>